<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04 - 反向传值- delegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C888C6B51C3279FD001DD0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C888C6CE1C3279FE001DD0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C888C6D91C3279FE001DD0EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
